/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: #f5f4f0 !default;
$text-color: #928185 !default;
$muted-text-color: #928185 !default;
$primary-color: #bcadab !default;
$border-color: mix(#fff, #928185, 75%) !default;
$footer-background-color: #bcc08a !default;
$link-color: #bcadab !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
